# Build artifacts
bazel-bin/
bazel-genfiles/
bazel-servers/
bazel-out/
bazel-testlogs/

# Build artifacts as files
bazel-bin
bazel-genfiles
bazel-servers
bazel-out
bazel-testlogs

# VS Code
.vscode/

# Game data
/data

# lock files
*.lock